NEXT_PUBLIC_SUPABASE_URL=https://yrpuvfshlonhezdhcnic.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlycHV2ZnNobG9uaGV6ZGhjbmljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzODcyMzcsImV4cCI6MjA4Mzk2MzIzN30.1QA039XloChe7nn7GfCDm4rcCa-KPu5iWOyd3XxYcic